body{
    margin: 0;
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
     /* means orientation of all items in a row */
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 1rem;
}

.logo{
    color: #fff;
    font-size: 1.5rem;
}

.menu {
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
}

.menu a {
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    display: block;
}


.hamburger {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

/*tablet and desktop*/ @media (max-width: 768px) {
 
    .menu {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background: none;
    }

       .hamburger {
        display: none;
    }
    
}